@model StudentMonitoringSystem.Models.DriverVehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DriverVehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.CampusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.CampusID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VechicleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
