@model StudentMonitoringSystem.Models.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    
    ViewBag.heading = "Teacher";

    ViewBag.directory1 = "Details";
    ViewBag.directory2 = "Add";
    ViewBag.directory3 = "Teacher";

}


<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">


                </div>

                <h2 class="card-title">Teacher's Details</h2>
            </header>
            <div class="card-body">
                <div>


                    <br />
                    <br />


                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.TeacherID)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.TeacherID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.DOB)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>


                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "col-lg-3 control-label text-lg-right pt-2" })*@
                        <dt class="col-lg-3 control-label text-lg-right pt-2">
                            @Html.DisplayNameFor(model => model.Campu.Name)
                        </dt>

                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Campu.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

                        </div>
                    </div>
                    <br />
                    <br />


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()




                        <footer class="card-footer text-right">

                            <button type="reset" class="btn btn-default">@Html.ActionLink("Back to list", "Index")</button>
                        </footer>

                    }
                </div>


                <div>

                </div>




            </div>
        </section>
    </div>
</div>