@model StudentMonitoringSystem.Models.SubjectTimeTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubjectTimeTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmAndPm.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmAndPm.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmAndPm1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmAndPm1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour1.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour1.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minute.Minuts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minute.Minuts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minute1.Minuts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minute1.Minuts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
