@model StudentMonitoringSystem.Models.SubjectTimeTable

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SubjectTimeTable</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CampusID, "CampusID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CampusID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CampusID, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ClassID, "ClassID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClassID", String.Empty@*null, htmlAttributes: new { @class = "form-control" }*@)
                @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectionID, "SectionID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SectionID", String.Empty@*null, htmlAttributes: new { @class = "form-control" }*@)
                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectID, "SubjectID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubjectID", String.Empty @*null, htmlAttributes: new { @class = "form-control" }*@)
                @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayID, "DayID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DayID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DayID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartHourID, "StartHourID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StartHourID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartHourID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartMintID, "StartMintID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StartMintID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartMintID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndHourID, "EndHourID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EndHourID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndHourID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndMintID, "EndMintID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EndMintID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndMintID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartOClockID, "StartOClockID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StartOClockID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartOClockID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmdOClockID, "EmdOClockID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmdOClockID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmdOClockID, "", new { @class = "text-danger" })
            </div>
        </div>

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>

    <script>


        $(document).ready(function() {

            $('#CampusID').change(function() {
                var CampusID = $(this).val();
                $.getJSON("/ClassRoutine/GetClasses?ID=" + CampusID,
                    function(data) {
                        var selectOptions = "";
                        $.each(data,
                            function(key, val) {
                                // alert(val.ClassID);
                                //selectOptions.filter((res) => {
                                //    return res;
                                //});
                                selectOptions += "<option value='" + val.ID + "'>" + val.Name + "</option>";

                            });

                        $('#ClassID').empty().html(selectOptions);
                    });
            });
        });


        $(document).ready(function() {

            $('#ClassID').change(function() {
                var ClassID = $(this).val();
                $.getJSON("/ClassRoutine/GetSubjects?ID=" + ClassID,
                    function(data) {
                        var selectOptions = "";
                        $.each(data,
                            function(key, val) {
                                // alert(val.ClassID);
                                selectOptions += "<option value='" + val.ID + "'>" + val.SubjectName + "</option>";

                            });

                        $('#SubjectID').empty().html(selectOptions);
                    });
            });
        });


        $(document).ready(function() {

            $('#ClassID').change(function() {
                var ClassID = $(this).val();
                $.getJSON("/ClassRoutine/GetSection?ID=" + ClassID,
                    function(data) {
                        var selectOptions = "";
                        $.each(data,
                            function(key, val) {
                                // alert(val.ClassID);
                                selectOptions += "<option value='" + val.ID + "'>" + val.Name + "</option>";

                            });

                        $('#SectionID').empty().html(selectOptions);
                    });
            });
        });
        $(document).ready(function() {

            $('#CampusID').change(function() {
                var CampusID = $(this).val();
                $.getJSON("/ClassRoutine/GetTeacher?ID=" + CampusID,
                    function(data) {
                        var selectOptions = "";
                        $.each(data,
                            function(key, val) {
                                // alert(val.ID);
                                selectOptions += "<option value='" + val.ID + "'>" + val.Name + "</option>";

                            });

                        $('#TeacherID').empty().html(selectOptions);
                    });
            });


        });


    </script>
}
